<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <main class="container">

    <div class="jumbotron"> 
      <h1>Node com EJS</h1>
      <p>Aprendendo a trabalhar com EJS</p>
      <p><%= index.message; %></p>
    </div>

    <section>
      <h3>Guia de Tags</h3>
      <ul class="list-group list-group-flush">

        <% index.tags.forEach(item => { %>
          <li class="list-group-item list-group-item-warning">
            <strong><%= item.title; %></strong> <%= item.description; %>
          </li>
        <% }); %>

      </ul>
    </section>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>